@inject AuthenticationStateProvider AuthStateProvider

<div class="user-profile-dropdown">
    <button>@Username <i class="dropdown-icon"></i></button>
    <div class="dropdown-content">
        <a href="/profile">View Profile</a>
        <a href="/logout">Logout</a>
        <!-- Add other user-specific links/actions here -->
    </div>
</div>


@code {
    private string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            Username = user.Identity.Name; // Assuming 'Name' represents the username. Adjust as necessary.
        }
    }
}
